<button class="btn btn-outline-light btn-sm d-flex align-items-center gap-2" id="languageBtn" (click)="toggleLanguage()"
    [attr.aria-label]="'Switch to ' + (currentLanguage === 'en' ? 'Arabic' : 'English')">

    @if(currentLanguage === 'ar'){
    <img src="../../../../assets/uk-flag.svg" alt="UK Flag" style="width: 20px; height: 20px;" />
    }
    @else {
    <img src="../../../../assets/egypt-flag.svg" alt="Egypt Flag" style="width: 20px; height: 20px;" />
    }


    <span class="language-text">{{ getLanguageText() }}</span>
</button>