<section class="super-stars-section" id="superstars">
  <div class="container content-wrapper">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center mb-5 fade-in">
          <div class="super-stars-badge">
            <span>{{translationService.translate('superstars.title')}}</span>
          </div>
          <h2 class="main-title">
            {{translationService.translate('superstars.sectionTitle.part1')}}
            <span class="gradient-text">{{translationService.translate('superstars.sectionTitle.part2')}}</span>
          </h2>
          <p class="main-subtitle">
            {{translationService.translate('superstars.sectionSubtitle')}}

          </p>
        </div>

        <app-vip-super-stars></app-vip-super-stars>
        <app-normal-super-star></app-normal-super-star>
      </div>
    </div>
  </div>
</section>