<section class="super-stars-section py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <app-title-component subtitle1Key="superstars.title" titleKey="superstars.sectionTitle.part1"
          subtitle2Key="superstars.sectionTitle.part2" subtitleKey="superstars.sectionSubtitle"></app-title-component>

        <app-vip-super-stars></app-vip-super-stars>
        <app-normal-super-star></app-normal-super-star>
      </div>
    </div>
  </div>
</section>