<!-- Footer -->
<footer class="bg-navy text-light pt-5 pb-4">
  <div class="container">
    <div class="footer-logo">
      <div class="logo-icon">
        <img src="../../../../assets/logo.png" alt="footer-img" width="75" height="75" />
      </div>
      <h2 class="footer-brand">{{ translationService.translate( 'brands.title') }}</h2>
    </div>
    <div class="footer-text">
      {{ translationService.translate('footer.description') }}
    </div>

    <div class="footer-divider"></div>

    <div class="row">

      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.whoWeAre') }}</h6>
        <ul class="list-unstyled footer-animate">
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.ourStory')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.ourAdvisors')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.ourTeam')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.joinOurTeam')
              }}</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.ourApproach') }}</h6>
        <ul class="list-unstyled footer-animate">
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.methodology')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.benefits')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.technology')
              }}</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.knowledgeHub') }}</h6>
        <ul class="list-unstyled footer-animate">
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.articles')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.videos')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.exercisePrograms') }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.research')
              }}</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.ourSolutions') }}</h6>
        <ul class="list-unstyled footer-animate">
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.returnToPlay')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.athletesRecharger') }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.resilientAthlete') }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.athleteBlueprint') }}</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.successStories') }}</h6>
        <ul class="list-unstyled footer-animate">
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.legacies')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.superStars')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.comebackStories') }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{ translationService.translate('footer.testimonials')
              }}</a></li>
          <li><a href="#" class="text-light text-decoration-none">{{
              translationService.translate('footer.collaborations') }}</a></li>

        </ul>
      </div>



      <div class="col-6 col-md-2 mb-4">
        <h6 class="footer-title fw-bold">{{ translationService.translate('footer.getInTouch') }}</h6>
        <p class="mb-1">+44 (0) 207 731 1614</p>
        <p><a href="mailto:hello@gwi.com" class="text-light text-decoration-none">{{'hello@test.com'}}</a></p>

        <h6 class="footer-title fw-bold mt-3">{{ translationService.translate('footer.followUs') }}</h6>
        <div class="d-flex gap-3">
          <a href="#" class="text-light fs-4"><i class="fab fa-facebook"></i></a>

          <a href="#" class="text-light fs-4"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light fs-4"><i class="fab fa-youtube"></i></a>
        </div>
      </div>


      <div class="footer-bottom">


        <div class="copyright">
          <p>{{ translationService.translate('footer.copyright') }}</p>
          <p></p>
        </div>
      </div>
    </div>


  </div>
</footer>