<section>
    <div class="custom-carousel">
        <div class="owl-stage" [style.transform]="'translateX(' + translateX + 'px)'">
            @for (elit of eliteSuperStarsSignal(); track elit.id) {
            <div class="item" [class.active]="elit.active"
                [style.background-image]="'url(' + elit.backgroundImage + ')'" (click)="selectSuperStar(elit.id)">
                <div class="item-desc">
                    <h3>{{ elit.name }}</h3>
                    <p class="fw-bold mb-2">
                        {{elit.sportEn}}
                    </p>
                    <p class="fw-bold mb-2">
                        {{elit.achievementEn}}
                    </p>
                    <p>
                        {{elit.descriptionEn}}
                    </p>

                </div>
            </div>
            }
        </div>

        <div class="owl-dots">
            @for (elite of eliteSuperStarsSignal(); track elite.id; let i = $index) {
            <span class="owl-dot" [class.active]="currentIndex === i" (click)="goToSlide(i)">
            </span>
            }
        </div>
    </div>
</section>