<section id="elitesuperstars">
    <app-title-component subtitle1Key="superstars.titleElite"></app-title-component>

    <div class="custom-carousel mb-5" [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
        <div class="owl-stage" [style.transform]="'translateX(' + translateX + 'px)'">
            @for (elit of eliteSuperStarsSignal(); track elit.id) {
            <div class="item" [class.active]="elit.active"
                [style.background-image]="'url(' + (elit.backgroundImage ? elit.backgroundImage : 'https://placehold.co/600x400') + ')'"
                (click)="selectSuperStar(elit.id)">
                <div class="item-desc">
                    <h3>{{ elit.name }}</h3>
                    <p class="fw-bold mb-2">
                        {{currentLang == 'en' ? elit.sportEn : elit.sport}}
                    </p>
                    <p class="fw-bold mb-2">
                        {{currentLang == 'en'? elit.achievementEn : elit.achievement}}
                    </p>
                    <p>
                        {{currentLang == 'en' ? elit.descriptionEn : elit.description}}
                    </p>

                </div>
            </div>
            }
        </div>

        <div class="owl-dots">
            @for (elite of eliteSuperStarsSignal(); track elite.id; let i = $index) {
            <span class="owl-dot" [class.active]="currentIndex === i" (click)="goToSlide(i)">
            </span>
            }
        </div>
    </div>
</section>