<section class="success-story-section">
  <div class="container">
    <!-- Header -->
    <div class="text-center mb-5 fade-in">
      <div class="methodology-badge">
        <span>Success Stories</span>
      </div>
      <h2 class="main-title">
        From Setback

        <span class="gradient-text">to Comeback</span>
      </h2>
      <p class="main-subtitle">
        Explore how our evidence-based tools support patients, therapists, and clinics in achieving measurable recovery
        milestones </p>
    </div>
    <app-success-videos></app-success-videos>
  </div>
  <app-customers-success-stories></app-customers-success-stories>
</section>