.title {
    margin: 5px 0 5px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 1px 1px 1px #5F503780;
}

.divider {
    width: 129px;
    border: 3px;
    background-color: #BD9251;
}