.chat-icon {
    position: relative;
    right: 20px;
    font-size: 25px;
}

.btn-primary {
    background-color: #0f299c;
}

.contact-bg {
    background: linear-gradient(to bottom, #dbeafe, #ffffff);
}

.card {
    border-radius: 20px;
}

a {
    text-decoration: none;
}