.chat-icon {
    position: relative;
    right: 20px;
    font-size: 25px;
}

.contact-bg {
    background-color: #f5f5f5;
}

.btn-primary {
    background-color: rgb(252, 107, 52);
}

.card {
    border-radius: 20px;
}

a {
    text-decoration: none;
}



.send-message-text, label {
    color: #6b7280;
}

i {
    color: #fc6c44;
}

.bg-primary {
    background-color: #fc6c4433 !important;
}