<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="section-title">Branding</h2>
      <div class="vertical-line"></div>
      <p class="section-subtitle">Our Mission</p>
    </div>
  </div>

  <!-- Custom responsive flex container -->
  <div class="row flex-responsive align-items-center">
    <!-- Text first in HTML -->
    <div class="col-lg-8 col-md-6 col-12">
      <p class="section-description">
        We are dedicated to help our stars of all levels to defeat injuries,
        return to training & competition effectively with a minimal risk of
        recurrence. We use the latest scientific protocols according to the
        educational & physiological code. We also take our share of
        responsibility to spread awareness about prevention & peak performance.
      </p>
    </div>

    <!-- Image second in HTML -->
    <div class="col-lg-4 col-md-6 col-12 text-center text-md-start">
      <img
        class="img-fluid responsive-img"
        src="../../../../assets/brands.svg"
        alt="brands-image"
      />
    </div>
  </div>
</div>
