.flex-responsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .flex-responsive {
        flex-direction: column-reverse;
    }
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    text-shadow: 1px 1px 1px #00000040;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #BD9251;
    margin: 5px auto 0 auto;
    border-radius: 2px;
}

.section-subtitle,
.section-description {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    text-align: center;
}

.section-description {
    text-align: justify;
    line-height: 1.8;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    transform: translateY(-40px);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .section-description {
        text-align: center;
        line-height: 1.6;
    }

    .responsive-img {
        transform: translateY(-20px);
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 24px;
    }

    .section-subtitle,
    .section-description {
        font-size: 18px;
    }

    .responsive-img {
        transform: none;
        margin-top: 15px;
    }
}