<div class="mt-4">
    <app-title-component subtitle1Key="about.team.title">
    </app-title-component>
</div>

<div class="col-12 text-end mt-4">
    <a class="btn next mb-3 me-2" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <i class="fa fa-arrow-left"></i>
    </a>
    <a class="btn previous mb-3" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <i class="fa fa-arrow-right"></i>
    </a>
</div>

<div class="col-12">
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button *ngFor="let chunk of advisorDashBoardMembersChunk; let i = index" type="button"
                data-bs-target="#carouselExampleIndicators2" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
                [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
        </div>

        <div class="carousel-inner">
            @for(chunk of advisorDashBoardMembersChunk; track chunk; let i = $index){
            <div class="carousel-item" [class.active]="i === 0">
                <div class="row  d-flex justify-content-center align-items-stretch">
                    @for(member of chunk; track member){
                    <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex">
                        <div class="our-team">
                            <div class="pic">
                                <img class="img-fluid" [src]="member.image" [alt]="member.name" />
                            </div>
                            <div class="team-content">
                                <h3 class="title">{{ member.name }}</h3>
                                <span class="post mb-2">{{ member.job }}</span>
                                <span class="post">{{ member.jobDescription }}</span>
                                <span class="post">{{ member.description }}</span>
                            </div>

                            <div class="col-md-12">
                                <button
                                    class="btn explore-more">{{translationService.translate('explore.btn')}}</button>
                            </div>
                            <ul class="social">
                                <li><a href="#" target="_blank" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>

    </div>
</div>