.bg-danger-subtle {
    border-left: 10px solid #131337;
    box-shadow: 0px 2px 15px 2px lightgray;
    background-color: transparent !important;
}

.text-primary {
    color: #131337 !important;
}

.description {
    line-height: 30px;

}