<div class="container main-content">
  <app-title-component subtitle1Key="education.badge" titleKey="education.title.part1"
    subtitle2Key="education.title.part2" subtitleKey="education.subtitle">
  </app-title-component>

  <div class="row g-4 py-3">
    @for (item of educationLibraryCategories; track item) {
    <div class="col-12 col-md-6">
      <div class="card content-card shadow-sm border-0 text-center p-4 h-100" style="cursor: pointer"
        (click)="showItemDetails(item)">
        <div class="icon-wrapper mx-auto mb-3">
          <img [src]="item.icon" [alt]="item.nameEn" class="icon-img" />
        </div>
        <h4 class="fw-semibold mb-2 title">
          {{ currentLanguage == "en" ? item.nameEn : item.nameAr }}
        </h4>
        <p class="text-muted mb-0">
          {{ currentLanguage == "en" ? item.descriptionEn : item.descriptionAr }}
        </p>
      </div>
    </div>
    }
  </div>
</div>