<app-hero-section></app-hero-section>
<app-super-stars></app-super-stars>
<app-methodology-section></app-methodology-section>
<app-our-benefits></app-our-benefits>
<app-our-partners></app-our-partners>
<app-cutting-edge-technology></app-cutting-edge-technology>
<app-success-stories></app-success-stories>
<app-booking></app-booking>
<app-contact-us></app-contact-us>

<!-- 
    <app-how-it-works></app-how-it-works>
<app-about-us-section></app-about-us-section>
<app-services></app-services>
<app-educational-videos></app-educational-videos>
<app-join-out-team></app-join-out-team>
 -->