<div class="container-fluid py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <!-- Header -->
      <div class="text-center mb-4">
        <h4 class="fw-bold text-dark mb-2">
          {{ translationService.translate("booking.timeSlot.title") }}
        </h4>
      </div>

      <!-- Date Selection -->
      <p>
        {{ translationService.translate("booking.timeSlot.selectDate") }}
      </p>
      <div class="card shadow-sm mb-4 border-0">
        <div class="calendar-container">
          <!-- Header with Month & Year Selectors -->
          <div
            class="calendar-header d-flex justify-content-center align-items-center gap-2 mb-2"
          >
            <!-- Month Selector -->
            <div class="form-group">
              <select
                class="form-select"
                [(ngModel)]="selectedMonth"
                (change)="updateCalendar()"
              >
                <option
                  *ngFor="let m of months; let i = index"
                  [ngValue]="i + 1"
                >
                  {{ m }}
                </option>
              </select>
            </div>

            <!-- Year Selector -->
            <div class="form-group">
              <select
                class="form-select"
                [(ngModel)]="selectedYear"
                (change)="updateCalendar()"
              >
                <option *ngFor="let y of years" [ngValue]="y">{{ y }}</option>
              </select>
            </div>

            <!-- Navigation Buttons -->
            <div class="nav-buttons d-flex align-items-center">
              <button
                class="btn btn-outline-secondary btn-sm me-1"
                (click)="prevMonth()"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="nextMonth()"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>

          <!-- Calendar Grid -->
          <div class="calendar-grid">
            <!-- Weekday Names -->
            <div class="day-name fw-bold text-muted" *ngFor="let d of dayNames">
              {{ d }}
            </div>

            <div
              *ngFor="let day of calendarDays"
              class="calendar-day"
              [class.not-current]="!day.isCurrentMonth"
              [class.unavailable]="!day.isAvailable"
              [class.selected]="selectedDate === day.dateString"
              (click)="selectDate(day)"
            >
              {{ day.day }}
            </div>
          </div>
        </div>
      </div>

      <!-- Time Selecteion-->
      <p>
        {{ translationService.translate("booking.timeSlot.selectTime") }}
      </p>

      <div class="card shadow-sm mb-4 border-0">
        <div class="card-body">
          @if (availableTimesForSelectedDate.length > 0) {

          <!-- Desktop grid -->
          <!-- Desktop slider -->
          <div class="d-none d-md-block position-relative">
            <!-- Navigation buttons -->
            <div class="d-flex justify-content-between align-items-center mb-3">
              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="prevDesktopSlide()"
                [disabled]="desktopSlideIndex === 0"
              >
                <i class="fas fa-chevron-left"></i>
              </button>

              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="nextDesktopSlide()"
                [disabled]="desktopSlideIndex === desktopSlides.length - 1"
              >
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>

            <!-- Slider container -->
            <div class="slider-container overflow-hidden">
              <div
                class="slider-wrapper d-flex transition-all"
                [style.transform]="
                  'translateX(-' + desktopSlideIndex * 100 + '%)'
                "
              >
                @for (slide of desktopSlides; track index; let index = $index) {
                <div
                  class="slide flex-shrink-0 w-100 d-flex justify-content-around gap-2"
                >
                  @for (timeSlot of slide; track timeSlot.from) {
                  <button
                    type="button"
                    class="btn btn-sm time-slot-btn flex-fill"
                    [class.btn-primary]="isTimeSelected(timeSlot)"
                    [class.btn-outline-secondary]="!isTimeSelected(timeSlot)"
                    (click)="onTimeSelect(timeSlot)"
                  >
                    {{ timeSlot.from }} - {{ timeSlot.to }}
                  </button>
                  }
                </div>
                }
              </div>
            </div>
          </div>

          <!-- Mobile slider -->
          <div class="d-md-none position-relative">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <button
                class="btn prev-btn btn-sm border-none"
                (click)="prevSlide()"
                [disabled]="currentSlideIndex === 0"
              >
                <i class="fas fa-chevron-left"></i>
              </button>
              <button
                class="btn next-btn btn-sm border-none"
                (click)="nextSlide()"
                [disabled]="currentSlideIndex === mobileSlides.length - 1"
              >
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>

            <div class="slider-container overflow-hidden">
              <div
                class="slider-wrapper d-flex transition-all"
                [style.transform]="
                  'translateX(-' + currentSlideIndex * 100 + '%)'
                "
              >
                @for (slide of mobileSlides; track index; let index = $index) {
                <div
                  class="slide flex-shrink-0 w-100 d-flex justify-content-around"
                >
                  @for (timeSlot of slide; track timeSlot.from) {
                  <button
                    type="button"
                    class="btn btn-sm time-slot-btn flex-fill mx-1"
                    [class.btn-primary]="isTimeSelected(timeSlot)"
                    [class.btn-outline-secondary]="!isTimeSelected(timeSlot)"
                    (click)="onTimeSelect(timeSlot)"
                  >
                    {{ timeSlot.from }} - {{ timeSlot.to }}
                  </button>
                  }
                </div>
                }
              </div>
            </div>
          </div>

          } @else {
          <div class="text-center py-3">
            <p class="text-muted mb-0">
              {{
                translationService.translate(
                  "booking.timeSlot.noSlotsAvailable"
                )
              }}
            </p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
