<section class="py-3 px-3 bg-light">
  <div class="container">
    <app-title-component subtitle1Key="benefits.badge" titleKey="benefits.title.part1"
      subtitle2Key="benefits.title.part2" subtitleKey="benefits.subtitle"></app-title-component>

    <div class="row g-4">
      @for(benefit of benefitsSignal(); track benefit;){
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up">
        <div class="card h-100 shadow-sm border-0 service-card">
          <div class="card-body p-4 d-flex flex-column">
            <div class="d-flex align-items-start mb-4">
              <div class="p-3 rounded bg-primary text-white me-3 d-flex align-items-center justify-content-center">
                <i class="fas fa-bolt fa-lg"></i>
              </div>
              <h3 class="h5 fw-semibold mb-0">{{currentLang == 'en' ? benefit.titleEn : benefit.title}}</h3>
            </div>
            <p class="mb-4">
              {{currentLang == 'en' ? benefit.descriptionEn : benefit.description}}
            </p>
            <div class="w-50 m-auto">
              <a href="#" class="btn btn-primary w-100 mt-auto">{{translationService.translate('explore.btn')}}</a>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>