.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
}

.hero-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #bd9654;
    color: white;
    border: none;
    border-radius: 30px;
    width: 538px;
    height: 80px;
}

.hero-img img {
    max-width: 100%;
}