.hero-section {
    position: relative;
    color: white;
    background: linear-gradient(135deg, rgb(0, 91, 181) 0%, rgb(0, 119, 204) 100%);
    padding: 8rem 0px 6rem;
    overflow: hidden;
}

.hero-text {
    padding: 2rem 0px;
}

.hero-wave {
    position: absolute;
    bottom: -100px;
    left: 0px;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}