.tech-slideshow {
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    font-size: 0;

}

.mover-1 {
    width: max-content;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 100%;
    animation: moveSlideshow 8s linear infinite;
}

.mover-1 img {
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    height: 230px;
    margin: 0 10px;
}

@keyframes moveSlideshow {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100vw);
    }
}