<div class="container-fluid py-5">
  <div class="text-center mb-5 fade-in">
    <div class="our-benefits-badge">
      <span>{{ translationService.translate('partners.badge') }}</span>
    </div>
    <h2 class="main-title">
      {{ translationService.translate('partners.title.part1') }}
      <span class="gradient-text">{{ translationService.translate('partners.title.part2') }}</span>
    </h2>
    <p class="main-subtitle">
      {{ translationService.translate('partners.subtitle') }}
    </p>
  </div>
  <!-- <h2 class="text-center section-title"> Our Partners Work</h2> -->
  <div class="marquee-wrapper">
    <div class="marquee-container">
      <div class="marquee-content" [style.animation-duration]="animationDuration + 's'">
        @for(partner of duplicatedLogos; track partner.id){
        <div class="logo-container">
          <img [src]="partner.logo" [alt]="partner.name" class="logo-img" />
        </div>
        }
      </div>
    </div>
  </div>
</div>