<section class="justify-content-center">
  <div class="container">
    <div class="row">
      @if(exercises.length){
      @for(item of exercises; track item){
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="exercise-card">

          <div class="card-body">
            <h3 class="card-title">
              {{
              currentLang == 'en' ? item.titleEn : item.titleAr
              }}
            </h3>

            <a href="#" class="download-btn">
              <span class="btn-text" data-en="Download File" data-ar="تحميل الملف">Download now</span>
              <i class="fas fa-file-download"></i>
            </a>
          </div>
        </div>
      </div>
      }
      }

      @else {
      @for(item of researches; track item){
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="exercise-card shadow-sm">

          <div class="card-body">
            <h3 class="card-title">
              {{currentLang == 'en' ? item.titleEn : item.titleAr}}
            </h3>

            <p class="text-muted">
              {{currentLang =='en' ? item.descriptionEn : item.descriptionAr}}
            </p>
            <button (click)="openResearch(item.link)" class="download-btn">
              <span class="btn-text" data-en="Learn more">Learn more</span>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
          </div>
        </div>
      </div>
      }
      }

    </div>
  </div>
</section>