/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap-icons";


@font-face {
    font-family: Cairo;
    src: url(assets/fonts/Cairo-Regular.ttf) format("opentype");
}

* {
    font-family: 'Cairo';
}

:root {
    --transition: all 0.3s ease;
}