<div class="gradient-bg">
  <div class="container custom-container">
    <div class="position-relative stepper-container">
      <img src="assets/Vector 335.svg" class="svg-line">
      <div class="step-container g-5 justify-content-center g-5">
        <div class="step-container-wrapper">
          @for(step of steps; track step; let i =$index){
        <div class="text-center step-wrapper" [class.zoom-active]="currentStep === i" [ngStyle]="{top: step.top, left: step.left}">
            <div class="step-circle">
              <div class="inner-circle">
                <i [class]="step.icon"></i>
              </div>
              <div class="step-number">{{ i + 1}}</div>
            </div>
            <div class="card p-3 card-sizing">
              <h3 class="step-title h5">{{ translationService.translate(step.title) }}</h3>
              <p class="step-description m-0">
                {{ translationService.translate(step.description) }}
              </p>
            </div>
          </div>
        }
        </div>
      </div>
    </div>
  </div>
</div>