    .process-number {
        font-size: 80px;
        color: #f1f1f1;
        position: absolute;
        top: -20px;
        left: -10px;
        z-index: 0;
        font-weight: bold;
    }

    .icon-circle {
        width: 48px;
        height: 48px;
        background: #0d6efd;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        position: relative;
        z-index: 1;
    }